#search {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    
}

#searchTerm {
    width: 84%;
} 
#searchButton {
    width: 15%;
}

.result {
    /*background : #F5DEB3;*/
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin: 20px;
    /*width: 200px;*/
    /*height: 150px; */
}

.resultTitle {
    font-size: 2em;
}

.resultText {
    font-size: 1.5em;
}

.resultError {
    text-align: center;
    border: 2px solid red;
}

@media  (max-width: 450px) {
    .resultText {
        display: none;
    }
    
    .resultTitle {
        text-align: center;
    }
}